<div class="login-page w-full md:max-w-[600px] flex flex-col items-center">
  <form [formGroup]="loginForm" class="w-full p-6" (ngSubmit)="handleLogin()">
    <div>
      <label for="phoneNumber" class="text-xs text-primary-text"
        >Phone Number</label
      >
      <div class="flex gap-3">
        <app-country-code-select
          [control]="countryCode"
        ></app-country-code-select>
        <input
          id="phoneNumber"
          type="text"
          formControlName="phoneNumber"
          placeholder="Enter your phone number"
          class="w-full mb-1 p-3 text-primary-text placeholder:font-thin bg-primary-background rounded-md outline-none border-none"
        />
      </div>
      <div class="text-xs mb-1">
        <div
          *ngIf="
            !loginForm.get('phoneNumber')?.valid &&
            loginForm.get('phoneNumber')?.touched
          "
          class="text-red-500"
        >
          <span *ngIf="loginForm.get('phoneNumber')?.hasError('required')"
            >Phone number is required</span
          >
          <span *ngIf="loginForm.get('phoneNumber')?.hasError('pattern')"
            >Phone number is invalid</span
          >
        </div>
      </div>
    </div>
    <div>
      <label for="password" class="text-xs text-primary-text">Password</label>
      <div class="relative">
        <input
          id="password"
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          placeholder="Enter your password"
          autocomplete="off"
          class="w-full mb-1 py-3 pl-3 pr-10 text-primary-text placeholder:font-thin bg-primary-background rounded-md outline-none border-none"
        />
        <mat-icon
          (click)="showPassword = !showPassword"
          aria-hidden="false"
          aria-label="Example home icon"
          [fontIcon]="showPassword ? 'visibility' : 'visibility_off'"
          class="absolute right-3 top-[48%] transform -translate-y-1/2 text-primary-text cursor-pointer"
        ></mat-icon>
      </div>
      <div class="text-xs mb-1">
        <div
          *ngIf="
            !loginForm.get('password')?.valid &&
            loginForm.get('password')?.touched
          "
          class="text-red-500"
        >
          <span *ngIf="loginForm.get('password')?.hasError('required')"
            >Password is required</span
          >
          <span *ngIf="loginForm.get('password')?.hasError('pattern')"
            >Password is invalid</span
          >
        </div>
      </div>
    </div>
    <app-theme-btn
      btnText="Sign In"
      btnType="submit"
      [btnDisabled]="!loginForm.valid"
    ></app-theme-btn>
    <p class="text-center mt-3 text-xs text-primary-text">
      <a [routerLink]="['/auth/forgot-password']" class="t">Forgot Password?</a>
    </p>
  </form>
  <p class="text-[14px] text-center mb-6 tracking-wider">OR</p>
  <app-google-login-btn
    (login)="googleLogin()"
    btnText="Sign In with Google"
  ></app-google-login-btn>
  <p class="text-xs mt-auto mb-5 md:mt-4 text-center text-primary-text">
    Don't have an account?
    <a [routerLink]="['/auth/sign-up']" class="text-green-500 font-bold"
      >Sign Up</a
    >
  </p>
</div>
